<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CauseCoders</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>Construction Building Helper</h1>
        <div class="user-icon" onclick="alert('Login functionality goes here!')">
            User
        </div>
    </header>
    <div class="container">
        <aside class="sidebar">
            <!-- <h2>Options</h2> -->
            <ul>
                <li><a href="#option1" onclick="alert('Home Page goes here!')">Home</a></li>
                <li><a href="/">New Building</a></li>
                <li><a href="history">My Buildings</a></li>
                <li><a href="#option3" onclick="alert('Comparison functionality goes here!')">Compare</a></li>
                <li><a href="#option4" onclick="alert('Account detail functionality!')">My profile</a></li>
                <li><a href="history">History</a></li>
                <li><a href="#option4" onclick="alert('Page info functionality goes here!')">About Us</a></li>
            </ul>
        </aside>
        <main class="main-content">
            <h2>My Comapare</h2>
            <img src="{{ url_for('static', filename='images/bar_graph_' + unique_id + '.png') }}" , alt="Bar Graph">
            <br>
            <a href="{{ url_for('display') }}">Back to History</a>
        </main>
    </div>
<!--    <script src="{{ url_for('static', filename='script.js') }}"></script>-->
</body>
</html>