body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
}
h1 {
    margin: 0;
    text-align: center;
    color: #b1a9a9;
}
.user-icon {
    cursor: pointer;
    font-size: 24px;
}
.container {
    display: flex;
    /* max-width: 600px; */
    margin: auto auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.sidebar {
    width: 200px;
    background-color: #444;
    color: white;
    padding: 20px;
}
.sidebar h2 {
    margin-top: 0;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li {
    /* margin: 10px 0; */
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.sidebar ul li a {
    color: white;
    text-decoration: none;
}
.sidebar ul li a:hover {
    text-decoration: underline;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding-top: 10px;
}
.gallery img {
    width: 100%;
    border-radius: 8px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
    font-weight: bold;
}
input, select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
#response {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
h2 {
    text-align: center;
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.loader {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader img{
    width: 300px;
}